.about {
    background: $clr-main;
    color: $clr-primary;
    text-align: center;
    width: 100%;
    padding-block: 10vh;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.477);

    h2 {
        font-size: $fs-h2;
        font-weight: 900;
        padding-bottom: 42px;
    }

    p {
        font-size: 18px;
        padding-bottom: 46px;
        text-overflow: clip;
        width: 70%;
        margin: 0 auto;

        @media only screen and (max-width: 600px) {
            width: 90%;
        }

    }

    a {
        padding: 16px;
        border: 2px solid $clr-main;
        background: $clr-primary;
        color: $clr-main;
        text-decoration: none;

        @media only screen and (max-width: 500px) {
            margin-bottom: 2rem;
        }

    }

    a:hover {
        background: $clr-active;
        color: $clr-primary;
        border-color: $clr-active;
    }

}

.about-img {
    width: 80%;
    height: 700px;
    background: lightgray;
    margin: 56px auto;
    border: 2px solid $clr-main;
}