.adatok {
    color: $clr-main;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 3rem;

    @media only screen and (max-width: 550px) {
        margin-top: 3rem;
    }

    h2 {
        font-size: $fs-h2;
    }
}

.adatok-adat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 40px;
    height: fit-content;
    margin-top: 0;

    @media only screen and (max-width: 550px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        width: 90%;
        margin: 0 auto;
    }

    h2 { grid-area: 1 / 1 / 2 / 3; }
    .adat1 { grid-area: 2 / 1 / 3 / 2; }
    .adat2 { grid-area: 2 / 2 / 3 / 3; }
    .adat3 { grid-area: 3 / 1 / 4 / 2; }
    .adat4 { grid-area: 3 / 2 / 4 / 3; }
}