* {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  transition: 0.4s;
}
a:hover {
  transition: 0.4s;
}

body {
  background: #FFFFFF;
}

a {
  word-break: keep-all;
  overflow: visible;
}

* {
  font-size: 16px;
}

nav {
  text-align: right;
  padding-block: 15px;
  border-bottom: 2px solid #1E491B;
  display: flex;
  justify-content: right;
  display: none;
}
@media only screen and (max-width: 500px) {
  nav {
    display: none;
  }
}
nav img {
  display: none;
}
@media only screen and (max-width: 500px) {
  nav img {
    display: block;
  }
}

nav a {
  color: #1E491B;
  text-decoration: none;
  font-family: "Roboto";
  padding: 15px;
}
@media only screen and (max-width: 500px) {
  nav a {
    display: none;
  }
}

nav a:nth-child(3) {
  background: #1E491B;
  color: #FFFFFF;
  margin-right: 50px;
  margin-left: 5px;
}

nav a:hover {
  color: #1bc015;
}

nav a:nth-child(3):hover {
  background: #1bc015;
  color: #FFFFFF;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-block: 10rem;
  width: 85%;
  margin-inline: auto;
}
@media only screen and (max-width: 700px) {
  .hero {
    padding: 50px 15px;
    display: block;
  }
}
.hero .hero-texts {
  grid-area: 1/1/2/2;
}
.hero .hero-img {
  grid-area: 1/2/2/3;
}
.hero .hero-img {
  align-items: center;
  display: flex;
  margin: 0 auto;
}
.hero .hero-img img {
  border: 2px solid #1E491B;
}
@media only screen and (max-width: 700px) {
  .hero .hero-img {
    margin-top: 24px;
    justify-content: center;
  }
}
.hero .hero-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1E491B;
  width: 100%;
}
.hero .hero-texts h1 {
  font-size: 56px;
  font-family: "Rowdies";
}
.hero .hero-texts p {
  padding-top: 0px;
  padding-bottom: 48px;
}
.hero .hero-texts a {
  padding: 16px;
  text-decoration: none;
}
.hero .hero-texts a:nth-child(1) {
  color: #FFFFFF;
  border: 2px solid #1E491B;
  background: #1E491B;
  margin-right: 16px;
}
.hero .hero-texts a:nth-child(1):hover {
  background: #1bc015;
  color: #FFFFFF;
  border-color: #1bc015;
}
.hero .hero-texts a:nth-child(2) {
  border: 2px solid #1E491B;
  background: #FFFFFF;
  color: #1E491B;
}
.hero .hero-texts a:nth-child(2):hover {
  background: #1bc015;
  color: #FFFFFF;
  border-color: #1bc015;
}
@media only screen and (min-width: 1241px) {
  .hero .hero-texts {
    align-items: center;
  }
}
@media only screen and (max-width: 1240px) and (min-width: 701px) {
  .hero .hero-texts .hero-btns {
    display: flex;
    flex-direction: column;
  }
  .hero .hero-texts .hero-btns a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .hero .hero-texts .hero-btns a:nth-child(1) {
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 700px) and (min-width: 450px) {
  .hero .hero-texts .hero-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
@media only screen and (max-width: 450px) {
  .hero .hero-texts .hero-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .hero-texts .hero-btns a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .hero .hero-texts .hero-btns a:nth-child(1) {
    margin-bottom: 24px;
    margin-right: 0px;
  }
}

.szolg {
  color: #1E491B;
  margin-inline: 1rem;
  padding-bottom: 7rem;
}
.szolg h1 {
  text-align: center;
  font-size: 40px;
  padding-block: 64px;
}
.szolg .szolg-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  text-align: center;
  margin-block: 2rem;
}
@media only screen and (max-width: 700px) {
  .szolg .szolg-grid {
    display: block;
  }
  .szolg .szolg-grid > * {
    padding-block: 16px;
  }
}
.szolg .szolg-grid h5 {
  font-size: 24px;
}
.szolg .szolg-grid img {
  padding-bottom: 24px;
}
.szolg .szolg-1 {
  grid-area: 1/1/2/2;
}
.szolg .szolg-2 {
  grid-area: 1/2/2/3;
}
.szolg .szolg-3 {
  grid-area: 1/3/2/4;
}

.about {
  background: #1E491B;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  padding-block: 10vh;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.477);
}
.about h2 {
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 42px;
}
.about p {
  font-size: 18px;
  padding-bottom: 46px;
  text-overflow: clip;
  width: 70%;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .about p {
    width: 90%;
  }
}
.about a {
  padding: 16px;
  border: 2px solid #1E491B;
  background: #FFFFFF;
  color: #1E491B;
  text-decoration: none;
}
@media only screen and (max-width: 500px) {
  .about a {
    margin-bottom: 2rem;
  }
}
.about a:hover {
  background: #1bc015;
  color: #FFFFFF;
  border-color: #1bc015;
}

.about-img {
  width: 80%;
  height: 700px;
  background: lightgray;
  margin: 56px auto;
  border: 2px solid #1E491B;
}

.adatok {
  color: #1E491B;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  margin-block: 6rem;
  margin-inline: 2rem;
}
@media only screen and (max-width: 850px) {
  .adatok {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 550px) {
  .adatok {
    margin-top: 3rem;
  }
}
.adatok .adatok-adat {
  grid-area: 1/1/2/2;
}
.adatok .adatok-img {
  grid-area: 1/2/2/3;
}
.adatok .adatok-img {
  display: flex;
  justify-content: center;
}
.adatok .adatok-img img {
  width: clamp(50%, 1000px, 270px);
  border: 2px solid #1E491B;
  box-shadow: 0 6px 18px 0px rgba(0, 0, 0, 0.308);
}

.adatok-adat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  margin-inline: auto;
}
@media only screen and (max-width: 850px) {
  .adatok-adat {
    margin-block: 4rem;
    text-align: center;
  }
}
@media only screen and (max-width: 550px) {
  .adatok-adat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    width: 90%;
    margin: 2rem auto;
  }
}
.adatok-adat h2 {
  font-size: 48px;
}
.adatok-adat h2 {
  grid-area: 1/1/2/3;
}
.adatok-adat .adat1 {
  grid-area: 2/1/3/2;
}
.adatok-adat .adat2 {
  grid-area: 2/2/3/3;
}
.adatok-adat .adat3 {
  grid-area: 3/1/4/2;
}
.adatok-adat .adat4 {
  grid-area: 3/2/4/3;
}

.contact {
  margin-top: 64px;
  color: #1E491B;
}
.contact:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 98%;
  border-bottom: 2px solid #1E491B;
}
.contact h2 {
  font-size: 48px;
  text-align: center;
}
.contact p {
  font-size: 18px;
  text-align: center;
  margin-block: 2rem 4rem;
}
.contact .contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
}
.contact .contact-grid h4 {
  font-size: 32px;
}
.contact .contact-grid p {
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 24px;
}
@media only screen and (max-width: 900px) {
  .contact .contact-grid p {
    margin-top: 14px;
    margin-bottom: 36px;
  }
}
.contact .contact-grid img {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}
@media only screen and (max-width: 900px) {
  .contact .contact-grid {
    display: block;
  }
}
.contact .contact1 {
  grid-area: 1/1/2/2;
}
.contact .contact2 {
  grid-area: 1/2/2/3;
}
.contact .contact3 {
  grid-area: 1/3/2/4;
}

footer {
  text-align: right;
  padding: 15px;
}/*# sourceMappingURL=style.css.map */